body{
    background: #333;
}

#gameName {
    color: #fff;
    font-family: Courier;
    font-weight: bold;
    font-size: 24px;
    text-align: center;

}
#map{
    width: 600px;
    height: 270px;
    display: block;
    background: #fff;
    margin: 50px auto 0px;
}

#buttons{
    margin-top: 30px;
    margin-left: 600px;

}
#drawBtn, #clearBtn{
    width: 50px;
    height: 50px;
}